<div id="amend">
	<h5>AMEND YOUR VIEWS</h5>
	<p><small>Fill out the details of your views with text, photo, web, and navigation elements. Select a view and add elements to it.</small></p>
	<form>
		<div class="row">
			<p><strong><small>YOUR VIEWS</small></strong></p>
			<ul id="listViews"></ul>
		</div>
		<div class="bordered-div row">
			<div class="three columns">
				<p><strong><small>ELEMENT</small></strong></p>
			</div>
			<div class="three columns">
				<a class="button button-go" href="javascript:void(0)" id="displayAdd">+</a>
				<p><small>ADD ELEMENT</small></p>
			</div>
			<div class="six columns">
				<input type="radio" name="element" class="elType" onclick="elementSelect(this);" value="text" checked>
				<span class="label-body">Text Element</span><br/>
				<input type="radio" name="element" class="elType" onclick="elementSelect(this);" value="photo">
				<span class="label-body">Photo Element</span><br/>
				<input type="radio" name="element" class="elType" onclick="elementSelect(this);" value="web">
				<span class="label-body">Web Element</span><br/>
				<input type="radio" name="element" class="elType" onclick="elementSelect(this);" value="nav">
				<span class="label-body">Navigation Element</span>
			</div>
		</div>
		<div class="bordered-div row">
			<div class="one columns">
				&nbsp;
			</div>
			<div class="ten columns">
				<ul id="viewElements"></ul>
			</div>
		</div>
		<div class="bordered-div border-bottom bordered-div-margin-bottom row" id="textOptions">
			<div class="one columns">
				&nbsp;
			</div>
			<div class="ten columns">
				<textarea placeholder="Enter text" class="u-full-width" id="textValue"></textarea>
			</div>
		</div>
		<div class="bordered-div border-bottom bordered-div-margin-bottom" id="urlOptions" hidden>
			<div class="row">
				<div class="one columns">
					&nbsp;
				</div>
				<div class="ten columns">
					<input class="u-full-width" type="text" placeholder="title (optional)" id="titleEl">
				</div>
			</div>
			<div class="row">
				<div class="one columns">
					&nbsp;
				</div>
				<div class="ten columns">
					<input class="u-full-width" type="text" placeholder="subtitle (optional)" id="subtitleEl">
				</div>
			</div>
			<div class="row">
				<div class="one columns">
					&nbsp;
				</div>
				<div class="ten columns">
					<input class="u-full-width" type="text" placeholder="url" id="urlEl">
				</div>
			</div>
		</div>
		<div class="bordered-div border-bottom bordered-div-margin-bottom" id="navigationOptions" hidden>
			<div class="row">
				<div class="one columns">
					&nbsp;
				</div>
				<div class="ten columns">
					<label for="destinationNames">Select destination</label>
					<select class="u-full-width" id="destinationNames">
						<option value="">Destinations</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="three columns">
				<a class="button button-back" href="javascript:void(0)" onclick="back5()">BACK</a>
			</div>
			<div class="two columns">
				<a class="button button-primary" href="javascript:void(0)" id="5">CONTINUE</a>
			</div>
		</div>
	</form>
	<script type="text/javascript">
		// init
		var destinations = []
		var viewElements = []
		var selectedView = 'welcome'
		var currentValue = 'text'
		var viewAgg = {}
		for (var i = 0; i < window.viewNames.length; i++) {
			viewAgg[window.viewNames[i]] = {elements: [], options: []}
		}
		window.viewNames.forEach(function(v) {
			if (v!==selectedView) {
				$('#destinationNames').append(`<option value="${v}">${v}</option>`)
			}
		})
		initViewsList('listViews')
		$($('.viewAmend').first()).addClass('highlighted')
		elementsForView()

		// add element to view
		function createElement() {
			console.log('in createElement')
			var element = { type: currentValue }
			var context = 'elements'
			switch (currentValue) {
				case 'text':
					element.value = $('#textValue').val()
					console.log(element)
					$('#textValue').val('')
					break

				case 'photo':
				case 'web':
					var re = /^https:\/\//
					element.value = {
						title: $('#titleEl').val(),
						subtitle: $('#subtitleEl').val(),
						url: $('#urlEl').val().replace(/ /g, '').toLowerCase()
					}
					if (!re.exec(element.value.url)) {
						alert('URL must start with "https://", please try again.')
						return
					}
					if (currentValue === 'web') {
						if (element.value.url!==window.agg[0].webURL) {
							alert('Web URL must match configuration web URL from earlier setting, in the section named "Configuration".')
							return							
						}
					}
					$('#titleEl').val('')
					$('#subtitleEl').val('')
					$('#urlEl').val('')
					break

				case 'nav':
					context = 'options'
					element.value = $('#destinationNames').val()
					$('#destinationNames').prop('selectedIndex', 0)
					break

				default:
					console.log('default')
					break
			}
			viewAgg[selectedView][context].push(element)
			elementsForView()
		}

		$('#displayAdd').off().on('click', createElement)

		// reset all inputs
		function resetInputs() {
			$('textValue').val('')
			$('title').val('')
			$('subtitle').val('')
			$('url').val('')
		}

		// display elements of a view
		function elementsForView() {
			let dict = viewAgg[selectedView]
			let elems = dict.elements.concat(dict.options)
			$('#viewElements').html('')
			if (elems.length) {
				elems.forEach(function(e) {
					console.log(e)
					var v = ''
					if (e.type === 'text' || e.type === 'nav') {
						v = e.value
					} else if (e.type === 'photo' || e.type === 'web') {
						v = JSON.stringify(e.value, null, 4)
					} 
					addRow('viewElements', `${e.type}: ${v}`)
				})
			} else {
				// none created
				addRow('viewElements', 'This view has no elements', true)
			}
		}

		// shows input options
		function elementSelect(radio, elName) {
			currentValue = elName || radio.value
			switch (currentValue) {
				case 'text':
					$('#urlOptions').hide()
					$('#navigationOptions').hide()
					$('#textOptions').show()
					break
				case 'photo':
				case 'web':
					$('#textOptions').hide()
					$('#navigationOptions').hide()
					$('#urlOptions').show()
					break
				case 'nav':
					$('#textOptions').hide()
					$('#urlOptions').hide()
					$('#navigationOptions').show()
					break
			}
		}

		// user changes view to amend els
		function switchView(view) {
			selectedView = view
			$('input[type=radio][name=element][value=text]').prop('checked', true)
			elementSelect(null, 'text')
			resetInputs()
			elementsForView()
		}

		// edit previously made element
		function changeElement(element) {
			let name = $(element).html()
			// switch on name
		}

		function back5() {
			$('#amend').hide()
			$('#create').show()
		}

		$('#5').on('click', function() {

			$('#create').hide()
			$('#amend').show()
		})
	</script>
</div>