<div id="configuration" hidden>
	<h5>CONFIGURATION</h5>
	<p><small>Your website URL and Facebook Page and Messenger App info.</small></p>
	<form>
		<div class="row">
			<div class="six columns">
				<label for="appId"><small>APP ID</small></label>
				<input class="u-full-width" type="text" placeholder="1234567890" id="appId">
			</div>
			<div class="six columns">
				<label for="pageId"><small>PAGE ID</small></label>
				<input class="u-full-width" type="text" placeholder="1234567890" id="pageId">
			</div>
		</div>
		<div class="row">
			<div class="six columns">
				<label for="verifyToken"><small>VERIFY TOKEN</small></label>
				<input class="u-full-width" type="text" placeholder="1234567890" id="verifyToken">
			</div>
			<div class="six columns">
				<label for="secret"><small>APP SECRET</small></label>
				<input class="u-full-width" type="text" placeholder="1234567890" id="secret">
			</div>
		</div>
		<div class="row">
			<div class="six columns">
				<label for="pageToken"><small>PAGE ACCESS TOKEN</small></label>
				<input class="u-full-width" type="text" placeholder="1234567890" id="pageToken">
			</div>
			<div class="six columns">
				<label for="webURLs"><small>PERMITTED URLS <span class="teeny">COMMA SEPARATED</span></small></label>
				<input class="u-full-width" type="text" placeholder="https://url" id="webURLs">
			</div>
		</div>
		<a class="button button-primary" href="javascript:void(0)" id="2">CONTINUE</a>
	</form>
	<script type="text/javascript">
		$('#2').off().on('click', function() {
			var dict = {
				appId: $('#appId').val(),
				pageId: $('#pageId').val(),
				verifyToken: $('#verifyToken').val(),
				secret: $('#secret').val(),
				pageToken: $('#pageToken').val(),
				webURLs: $('#webURLs').val().toLowerCase().split(/,.*?/g).map(function(url){ if (url) return url.trim() }).filter(function(url) { if (url) return url }),
			}

			var re = /^https:\/\//
			for (var i = 0; i < dict.webURLs.length; i++) {
				if (dict.webURLs[i].trim() && !re.exec(dict.webURLs[i])) {
					alert('Web URL must start with "https://", please try again.')
					return
				}
			}

			window.agg[0] = dict

			$('#configuration').hide()
			$('#defaults').show()
		})
	</script>
</div>