<div id="configuration" hidden>
	<h5>CONFIGURATION</h5>
	<p><small>Your website URL and Facebook Page and Messenger App info.</small></p>
	<form>
		<div class="row">
			<div class="six columns">
				<label for="appId"><small>APP ID</small></label>
				<input class="u-full-width" type="text" placeholder="1234567890" id="appId">
			</div>
			<div class="six columns">
				<label for="pageId"><small>PAGE ID</small></label>
				<input class="u-full-width" type="text" placeholder="1234567890" id="pageId">
			</div>
		</div>
		<div class="row">
			<div class="six columns">
				<label for="verifyToken"><small>VERIFY TOKEN</small></label>
				<input class="u-full-width" type="text" placeholder="1234567890" id="verifyToken">
			</div>
			<div class="six columns">
				<label for="secret"><small>APP SECRET</small></label>
				<input class="u-full-width" type="text" placeholder="1234567890" id="secret">
			</div>
		</div>
		<div class="row">
			<div class="six columns">
				<label for="pageToken"><small>PAGE ACCESS TOKEN</small></label>
				<input class="u-full-width" type="text" placeholder="1234567890" id="pageToken">
			</div>
			<div class="six columns">
				<label for="webURL"><small>WEB URL (HTTPS)</small></label>
				<input class="u-full-width" type="text" placeholder="https://url" id="webURL">
			</div>
		</div>
		<a class="button button-primary" href="javascript:void(0)" id="2">CONTINUE</a>
	</form>
	<script type="text/javascript">
		$('#2').off().on('click', function() {
			var dict = {
				appId: $('#appId').val(),
				pageId: $('#pageId').val(),
				verifyToken: $('#verifyToken').val(),
				secret: $('#secret').val(),
				pageToken: $('#pageToken').val(),
				webURL: $('#webURL').val().replace(/ /g, '').toLowerCase(),
			}

			var re = /^https:\/\//
			if (dict.webURL.trim() && !re.exec(dict.webURL)) {
				alert('Web URL must start with "https://", please try again.')
				return
			}

			window.agg[0] = dict

			$('#configuration').hide()
			$('#defaults').show()
		})
	</script>
</div>