<div id="create" hidden>
	<h5>CREATE VIEWS</h5>
	<p><small>Enter a name and add additional views. The welcome, fallback, and greetings are default views. We'll fill out the details of each view in the next steps.</small></p>
	<form>
		<div class="row">
			<div class="ten columns">
				<input class="u-full-width" type="text" placeholder="Enter view name" id="view">
			</div>
			<div class="two columns">
				<a href="javascript:void(0)" class="add button">+</a>
			</div>
		</div>
		<div class="bordered-div-margin-bottom row">
			<h6 class="mb8">VIEWS</h6>
			<ul id="createViews"></ul>
		</div>
		<div class="row">
			<a class="button button-back" href="javascript:void(0)" onclick="back4()">BACK</a>
			<a class="button button-primary" href="javascript:void(0)" id="4">CONTINUE</a>
		</div>
	</form>
	<script type="text/javascript">
		function back4() {
			$('#create').hide()
			$('#defaults').show()
		}

		$('.add').on('click', function() {
			var name = $('#view').val()
		  	if (!isUniqueName(name)) {
		  		alert('Please use unique names for all your views:', name)
		  		return 1
		  	}
			$('#view').val('')
			let err = addRow('createViews', name)
			if (!err) window.viewNames.push(name.replace('"', '\''))
		})

		$('#4').on('click', function() {
			$('#create').hide()
			$('#amend').show()
			initAmend()
		})
	</script>
</div>