<div class="log-button">
	<a class="button button-red" href="javascript:void(0)" id="logout">LOG OUT</a>
</div>

<div class="container">
	<div class="six columns">
		<table class="u-full-width">
		  <thead>
		    <tr>
		      <th>Created</th>
		      <th>URL</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<%deployments.forEach(function(d){%>
			    <tr>
			      <td>d.created</td>
			      <td>d.url</td>
			    </tr>
		    <%})%>
		  </tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	$('#logout').off().on('click', function() {
		setToken('')
		window.location.assign('/')
	})
</script>