<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
<style type="text/css">
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.centralize {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	header {
		display: flex;
		align-items: center;
		width: 92%;
		margin: auto;
		padding-top: 1.5rem;
		margin-bottom: 2rem;
	}

	header .logo {
		flex: 3;
		font-weight: 500;
		font-size: 1.6rem;
	}

	header .logo .logo-s {
		font-weight: 100;
		margin-left: -14px;
	}

	header .search {
		padding-right: 1em;
		flex: 12;
	}

	header .search input {
		width: 400px;
		height: 37px;
		border-radius: 7px;
		border: none;
		background: #f4f4f4;
		padding: 1em 3em;
		outline: none;
	}

	header .userui {
		flex: 5;
		display: flex;
		align-items: center;
	}

	header .userui .avatar {
		width: 35px;
		height: 35px;
		background: #56b;
		color: #fff;
		border-radius: 50%;
		margin: 0px 5px;
	}

	.container {
		width: 92%;
		margin: auto;
		display: flex;
		position: relative;
	}

	.container nav {
		flex: 3;
		padding-right: 2rem;
	}

	.container nav .nav-link-top {
		margin: 2rem auto;
		display: flex;
		align-items: center;
	}

	.container nav .nav-link-top .nav-link-avatar {
		width: 45px;
		height: 45px;
		background: #345;
		color: #fff;
		border-radius: 10px;
		margin: 0 1rem;
	}

	.container nav .nav-links {
		color: #555;
		font-weight: 200;
	}

	.container nav .nav-links ul {
		list-style: none;
	}

	.container nav .nav-links ul li {
		display: flex;
		margin: 1rem auto;
		padding: 10px 1rem;
		align-items: center;
		position: relative;
		cursor: pointer;
	}

	.container nav .nav-links ul li::after {
		content: '';
		position: absolute;
		top: 0;
		left: -200%;
		width: 100%;
		height: 100%;
		z-index: -1;
		border-radius: 20px;
		background: rgba(0,0,0,0.1);
		transition: all 0.6s;
	}

	.container nav .nav-links ul li:hover::after {
		left: 0px;
		cursor: pointer;
	}

	.container nav .nav-links ul li p {
		padding-left: 1rem;
	}

	.container section {
		flex: 12;
		color: #333;
	}

	.container section .section-title {
		margin: 0;
		display: flex;
	}

	.container section .section-title h1 {
		flex: 4;
	}

	.container section .section-title .options {
		felx: 6;
		margin-left: auto;
	}

	.container section .section-dashboard {
		display: flex;
	}

	.container section .section-dashboard .dashboard-section-item {
		flex: 3;
		padding: 1em;
	}

	.container section .section-dashboard .dashboard-section-item .card {
		width: 100%;
		min-height: 170px;
		background: #fff;
		border-radius: 8px;
		box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
		margin: 2rem 0;
	}

	.container section .section-dashboard .dashboard-section-item .lg {
		min-height: 510px;
	}
</style>

<div class="container">
    <nav>
        <div class="nav-link-top">
            <div class="nav-link-avatar centralize">E </div>
            Lorem ipsum.
        </div>
        <div class="nav-links">
            <ul>
                <li>
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </li>
                <li>
                    <i class="material-icons">show_chart</i>
                    <p>Stock</p>
                </li>
                <li>
                    <i class="material-icons">bookmark_border</i>
                    <p>Bookmarks</p>
                </li>
                <li>
                    <i class="material-icons">explore</i>
                    <p>Explore</p>
                </li>
                <li>
                    <i class="material-icons">exit_to_app</i>
                    <p>Logout</p>
                </li>
            </ul>
        </div>
    </nav>

    <section>
    	<div class="container">
	        <div class="section-title">
	            <h5>Basic Dashboard</h5>
	            <div class="options">
	                font size...
	            </div>
	        </div>
	        <div class="section-dashboard row">
	            <div class="four columns dashboard-section-item">
	                <div class="card"></div>
	                <div class="card"></div>
	                <div class="card"></div>
	            </div>
	            <div class="four columns dashboard-section-item">
	                <div class="card"></div>
	                <div class="card"></div>
	                <div class="card"></div>
	                <div class="card"></div>
	            </div>
	            <div class="four columns dashboard-section-item">
	                <div class="card lg"></div>
	            </div>
	        </div>
    	</div>
    </section>
</div>

<script type="text/javascript">
	$('#logout').off().on('click', function() {
		setToken('')
		window.location.assign('/')
	})
</script>
