<div id="defaults" hidden>
	<h5>DEFAULTS</h5>
	<p><small>Please fill out the default messages for welcome, fallback, and greeting messages. Welcome messages appear when a user visits your page. A fallback message is shown when the user's input is not understood. A greeting message is in response to a user sending the application a greeting.</small></p>
	<form>
		<div class="row">
				<label for="intro"><small>WELCOME MESSAGE</small></label>
				<input class="u-full-width" value="a" type="text" placeholder="Enter your welcome message here" id="intro">
		</div>
		<div class="row">
				<label for="fallback"><small>FALLBACK MESSAGE</small></label>
				<input class="u-full-width" value="a" type="text" placeholder="Enter your fallback message here" id="fallback">
		</div>
		<div class="row">
				<label for="greeting"><small>GREETING MESSAGE</small></label>
				<input class="u-full-width" value="a" type="text" placeholder="Enter your greeting message here" id="greeting">
		</div>
		<div class="row">
			<a class="button button-back" href="javascript:void(0)" onclick="back3()">BACK</a>
			<a class="button button-primary" href="javascript:void(0)" id="3">CONTINUE</a>
		</div>
	</form>
	<script type="text/javascript">
		function back3() {
			$('#defaults').hide()
			$('#configuration').show()
		}

		$('#3').on('click', function() {
			var defaults = {
				intro: $('#intro').val(),
				fallback: $('#fallback').val(),
				greeting: $('#greeting').val(),
			}

			for (var key in defaults) {
				if (!defaults[key]) {
					console.log(defaults)
					alert('Please enter a message for each defaults to continue.')
					return
				}
			}

			window.agg[1] = defaults

			$('#defaults').hide()
			$('#create').show()
			initViewsList('createViews')
		})
	</script>
</div>