<div id="results" hidden>
	<div id="stripeID" val="<%=stripe%>" hidden></div>
	<form id="option">
		<h5>SELECT OPTION</h5>
		<p><small>Choose your deployment option. Cancel anytime.</small> <a href="#options"><i class="dark-text fa fa-question-circle"></i></a></p>
		<div class="row" id="accountType" hidden>
			<div class="one columns">
				<p>&nbsp;</p>
			</div>
			<div class="ten columns">
				<label for="userType"><small>What kind of entity are you?</small></label>
				<select class="u-full-width" id="userType">
			        <option value="">Your account type</option>
			        <option value="basic">Personal or small business</option>
			        <option value="extended">Business with > 10 employees</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="one columns">
				<p>&nbsp;</p>
			</div>
			<div class="ten columns">
				<a class="button button-primary u-full-width" href="javascript:void(0)" id="deployBtn" onclick="deploy()">DEPLOY NOW, CANCEL ANYTIME</a>
			</div>
		</div>
		<div class="row">
			<div class="one columns">
				<p>&nbsp;</p>
			</div>
			<div class="ten columns">
				<a class="button button-primary u-full-width" href="javascript:void(0)" onclick="sourceOnly()">SOURCE CODE ONLY, NO DEPLOYMENT</a>
			</div>
		</div>
		<div class="row">
			<div class="one columns">
				<p>&nbsp;</p>
			</div>
			<div class="ten columns">
				<a class="button u-full-width" href="#deployments">ABOUT DEPLOYMENTS</a>
			</div>
		</div>
	</form>
	<div id="deployments" class="overlay">
		<div class="popup">
			<h2>Deployments</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				The Facebook Messenger application needs to be hosted on a secure HTTPS connection to communicate with Facebook's API and end users. This requires migration of the source code, configuration, networking, and securing operations on server(s). In case you do not have access to these, we suggest you save time and money, and deploy with us!
			</div>
		</div>
	</div>
	<div id="options" class="overlay">
		<div class="popup">
			<h2>Options</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Select the deployment option to get your Messenger application to a live HTTPS destination. Individuals and small businesses with ten or fewer employees will be charged $15/mo. and businesses with more than ten employees will be charged $30/mo. There is no fee associated with the non-deployment option.
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function initResults(finalJSON) {
			window.json = finalJSON
			stripe = null
			try {
				stripe = Stripe($('#stripeID').attr('val'))
			} catch(e) {
				alert('Deployments are not available at this time.')
				$('#deployBtn').hide()
			}
			checkout = {}
		}

		function deploy() {
			// collect payment information, and create subscription
			// build chatbot from window.finalJSON
			// deploy chatbot
			// display list of chatbots deployed + metrics
			window.json.type = $('#userType').val()
			// get session token and create session
			makeRequestWithHeaders('/api/checkout', window.json, function(response) {
				console.log(response)
				if (response.status === 200) {
					stripe.redirectToCheckout({
					  // Make the id field from the Checkout Session creation API response
					  // available to this file, so you can provide it as parameter here
					  // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
					  sessionId: response.session
					}).then(function (result) {
					  // If `redirectToCheckout` fails due to a browser or network
					  // error, display the localized error message to your customer
					  // using `result.error.message`.
					  console.log(result)
					});
				} else {

				}
			})
		}

		function sourceOnly() {
			makeRequestWithHeaders('/api/build', window.json, function(response) {
				// var zip_file_path = "" //put inside "" your path with file.zip
				// var zip_file_name = "" //put inside "" file name or something
				// var a = document.createElement("a");
				// document.body.appendChild(a);
				// a.style = "display: none";
				// a.href = zip_file_path;
				// a.download = zip_file_name;
				// a.click();
				// document.body.removeChild(a);
			})
		}

		function setOnscreenJSON() {
			$('#json').text(JSON.stringify(window.finalJSON, null, 4))
		}

		function downloadMessengerJSON(){
			var data = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(window.finalJSON, null, 4))
			var downloadAnchorNode = document.createElement('a')
			downloadAnchorNode.setAttribute('href', data)
			downloadAnchorNode.setAttribute('download', 'messenger.json')
			document.body.appendChild(downloadAnchorNode)
			downloadAnchorNode.click()
			downloadAnchorNode.remove()
		}
	</script>

</div>