<div id="welcome">
	<form>
		<h5>PLEASE HAVE THE FOLLOWING READY</h5>
		<p><small>Prepare the following items before continuing:</small></p>
		<ul>
			<li>your Facebook Page and Messenger App credentials</li>
			<li>all of the images you plan to use as URLs</li>
			<li>wireframing your views, displays, and navigation</li>
		</ul>
		<p><small>Please consult Facebook and online references for finding your configurations. You can also apply them at a later time. <strong>You will need to have your application flow designed: (1) what the dialogs say or look like, and (2) what options for the client or friend to navigate.</strong></small></p>
		<a class="button button-primary" href="javascript:void(0)" id="1">CONTINUE</a>
	</form>
	<script type="text/javascript">
		$('#1').off().on('click', function(e) {
			window.login = null
			$('#welcome').hide()
			$('#configuration').show()
		})
	</script>
</div>