<div id="welcome">
	<form>
		<h5>PLEASE HAVE THE FOLLOWING READY</h5>
		<p><small>Prepare the following items before continuing:</small></p>
		<ul>
			<li>your Facebook Page and Messenger App credentials</li>
			<li>all of the images you plan to use as URLs</li>
			<li>wireframing your views, displays, and navigation</li>
		</ul>
		<a class="button button-primary" href="javascript:void(0)" id="1">CONTINUE</a>
	</form>
	<script type="text/javascript">
		$('#1').off().on('click', function(e) {
			$('#welcome').hide()
			$('#configuration').show()
		})
	</script>
</div>