<!DOCTYPE html>
<html>
  	<head>
	    <title><%= title %></title>
	    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css' />
	    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	    <link rel="stylesheet" type="text/css" href="stylesheets/splash.css">
	    <script type="text/javascript" src="javascripts/zepto.min.js"></script>
	    <script type="text/javascript" src="javascripts/core.js"></script>
  	</head>
  	<body>
  		<%include helpers/preloader%>
	    <div class="topbar" id="topbar">
			<h1><%= title %></h1>
		    <p><%= subtitle %></p>
	    </div>
	    <script type="text/javascript">
	    	window.agg = []
	    	window.viewNames = ['welcome', 'fallback', 'greeting']
			var destinations = []
			var viewElements = []
			var selectedView = 'welcome'
			var currentValue = 'text'
			var viewAgg = {}

	    	function isUniqueName(text) {
	    		if (text==='welcome'||
	    			text==='fallback'||
	    			text==='greeting'||
	    			window.viewNames.indexOf(text)===-1) {
	    			return true
	    		}
	    		return false
	    	}

			function addRow(el, text, noRemove, className, idx) {
			  if (text) {
			  	if (noRemove) {
			  		if (el === 'listViews') {
			  			$(`#${el}`).append(`<li class="no-margin-bottom viewAmend">${text}</li>`)
			  			$('.viewAmend').off().on('click', function() {
			  				$('.viewAmend').removeClass("highlighted")
			  				$(this).addClass('highlighted')
			  				switchView($(this).text())
			  			})
			  		} else {
			  			$(`#${el}`).append(`<li class="no-margin-bottom">${text}</li>`)
			  		}
			  	} else {
			  		if (el === 'viewElements') {
						$(`#${el}`).append(`<li data-id="${idx}" data-ctx="els" class="no-margin-bottom reorder" draggable="true"><a class="${className} hand-cursor red remove right">x</a><a class="no-text-decoration" href="javascript:void(0)" onclick="changeElement(this)">${text}</a></li>`)
						    $('.remove').off().on('click', function() {
								removeElement(this, true)
						    })
			  		} else if (el === 'navElements') {
						$(`#${el}`).append(`<li data-id="${idx}" data-ctx="nav" class="no-margin-bottom reorder" draggable="true"><a class="${className} hand-cursor red remove right">x</a><a class="no-text-decoration" href="javascript:void(0)" onclick="changeNavElement(this)">${text}</a></li>`)
						    $('.remove').off().on('click', function() {
								removeElement(this, true)
						    })
			  		} else {
						$(`#${el}`).append(`<li class="remList"><a class="button red right remove">x</a><span class="val">${text}</span></li>`)
					    $('.remove').off().on('click', function() {
							removeView(this)
					    })
			  		}
			  	}
			    return 0
			  }
			  return 1
			}

			function removeView(ctx) {
				let name = $(ctx).closest('li').html()
				let re = /class="val">(.*?)\<\//
				name = re.exec(name)[1]
				for (var i = window.viewNames.length - 1; i >= 0; i--) {
					if (window.viewNames[i] === name)
						window.viewNames.splice(i, 1)
				}
				$(ctx).closest('li').remove()
			}

			function initViewsList(el) {
				$(`#${el}`).html('')
				window.viewNames.forEach(function(v) {
					addRow(el, v, true)
				})
			}
	    </script>

		<!-- Primary Page Layout
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->

		<div class="section hero">
			<div class="container">
			  <div class="row">
			    <div class="one-half column">
			      <h4 class="hero-heading">Build and deploy your Messenger app in seconds.</h4>
			      <a class="button button-primary start" href="javascript:void(0)">Get Started</a>
			    </div>
			    <div class="one-half column phones">
			      <img class="phone" src="images/iphone.png">
			      <img class="phone" src="images/iphone.png">
			    </div>
			  </div>
			</div>
		</div>

		<div class="section values">
			<div class="container">
			  <div class="row">
			    <div class="one-third column value">
			      <h2 class="value-multiplier">+100M</h2>
			      <h5 class="value-heading">US Users</h5>
			      <p class="value-description">One in three people use Messenger. > 1 billion people worldwide.</p>
			    </div>
			    <div class="one-third column value">
			      <h2 class="value-multiplier">+2M</h2>
			      <h5 class="value-heading"><small>US DLs/ mo.</small></h5>
			      <p class="value-description">It's growing fast, every day. 2 million downloads a month in the US.</p>
			    </div>
			    <div class="one-third column value">
			      <h2 class="value-multiplier">FREE</h2>
			      <h5 class="value-heading">No Excuses</h5>
			      <p class="value-description">Build your source code now. No experience necessary. Messenger up!</p>
			    </div>
			  </div>
			</div>
		</div>

		<div class="section get-help">
			<div class="container">
			  <h3 class="section-heading">What are you waiting for?</h3>
			  <p class="section-description">Your free Facebook Messenger app is moments away!<br><br><small>MessengerUp™ is an open source project that generates your customized Facebook Messenger application, at no cost or fees, and deployment ready. The source code is yours to keep. Need someone to deploy it for you? We can do that too.</small></p>
			  <a class="button button-primary start" href="javascript:void(0)">Let's Go!</a>
			</div>
		</div>

		<div class="section categories">
			<div class="container">
			  <h3 class="section-heading">Why Messenger?</h3>
			  <p class="section-description">Access new depths with conversational commerce and information exchange.<br/><small>Express your perfect communications with text, images, and web redirects at the moment someone is interested in your products or services. It's a natural extension of yourself to a whole new audience!</small></p>
			  <div class="row">
			    <div class="one-half column category">
			      <img class="u-max-full-width" src="images/splash_a.jpg">
			    </div>
			    <div class="one-half column category">
			      <img class="u-max-full-width" src="images/splash_b.jpg">
			    </div>
			  </div>
			</div>
		</div>

		<div class='container' id='generator' hidden>
			<%include partials/welcome%>
			<%include partials/configuration%>
			<%include partials/defaults%>
			<%include partials/create%>
			<%include partials/amend%>
			<%include partials/results%>
		</div>
		<footer class="page-footer" id="footer">
			Copyright 2020 MessengerUp<sup>&trade;</sup>
		</footer>
	</body>
	<script type="text/javascript" src="/javascripts/draggable.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		  	$('.start').off().on('click', function() {
		  		$('.section').hide()
		  		$('#generator').show()
		  	})
		});
	</script>
</html>
