body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  color: #00B7FF
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: #ccc;
  border: 1px solid #ccc;
}

.topbar {
	left: -3%;
  top: -34px;
  position: relative;
}

.page-footer {
  text-align: right;
  margin-top: 2rem;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.reorder {
  cursor: move;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  border: 1px solid #ddd;
  margin-top: -1px;
  padding: 8px;
}

ul li.highlighted {
	background-color: #f6f6f6;
}

.remList {
    float: left;
    width: -webkit-fill-available;
    margin-bottom: 0!important;
}

.right {
    float: right
}

.red {
    color: palevioletred
}

.button {
  border-radius: 5px!important
}

.button.button-primary {
  background-color: #4267b2!important;
  border-color: #4267b2!important;
}


.button.button-back {
  background-color: #f5f6f7;
  border-color: #ccd0d5;
  color: #4b4f56;
}

.button.button-go {
  color: #FFF;
  background-color: rgba(99,190,9,1);
  border-color: rgba(99,190,9,1);
  font-weight: 900;
  font-size: large;
}

.bordered-div {
  padding: 2.2rem .5rem;
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom: 0;
}

.bordered-div-margin-bottom {
  margin-bottom: inherit
}

.no-margin-bottom {
  margin-bottom: 0rem!important 
}

.border-bottom {
  border-bottom: 1px solid #ddd
}

.no-text-decoration {
  text-decoration: none!important
}

.hand-cursor {
  cursor: pointer
}

.mb13 {
  margin-bottom: 13px!important
}

.mb8 {
  margin-bottom: 8px!important
}

.mb0 {
  margin-bottom: 1px!important
}

.el-type {
  font-weight: 700
}

.li-sub-top {
  color: black
}

.li-sub-mid {

}

.li-sub-bottom {

}
