body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: #ccc;
  border: 1px solid #ccc;
}

.nav {
	left: -3%;
    top: -34px;
    position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  border: 1px solid #ddd;
  margin-top: -1px;
  padding: 8px;
}

ul li.highlighted {
	background-color: #f6f6f6;
}

.remList {
    float: left;
    width: -webkit-fill-available;
}

.right {
    float: right
}

.red {
    color: palevioletred
}

.button {
  border-radius: 5px!important
}

.button.button-back {
  color: white;
  background-color: #f08a33;
  border-color: #f08a33;
}

.button.button-go {
    color: #FFF;
    background-color: #1bab6f;
    border-color: #1bab6f;
}

.bordered-div {
  padding: 2.2rem .5rem;
  border: 1px solid #d0b78a;
  border-top: 0;
  border-bottom: 0;
}

.bordered-div-margin-bottom {
  margin-bottom: inherit
}

.no-margin-bottom {
  margin-bottom: 0rem!important 
}

.border-bottom {
  border-bottom: 1px solid #d0b78a
}

.no-text-decoration {
  text-decoration: none!important
}

.hand-cursor {
  cursor: pointer
}
