body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: #eceeef;
}

a {
  color: #00B7FF
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: #ccc;
  border: 1px solid #ccc;
}

.topbar {
	left: -3%;
  top: -34px;
  position: relative;
}

.page-footer {
  text-align: right;
  margin-top: 2rem;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.reorder {
  cursor: move;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  border: 1px solid #ddd;
  margin-top: -1px;
  padding: 8px;
}

ul li.highlighted {
	background-color: #f6f6f6;
}

.right {
  float: right
}

.red {
  color: palevioletred
}

.button {
  border-radius: 5px!important
}

.button.button-primary {
  background-color: #4267b2!important;
  border-color: #4267b2!important;
}

.button.button-back {
  background-color: #f5f6f7;
  border-color: #ccd0d5;
  color: #4b4f56;
}

.button.button-success {
  background-color: #56953e;
  border-color: #56953e;
  color: white;
}

.button.button-go {
  color: #FFF;
  background-color: rgba(99,190,9,1);
  border-color: rgba(99,190,9,1);
  font-weight: 900;
  font-size: large;
}


/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description { 
  margin-bottom: 4rem;
}

.remList {
  float: left;
  width: -webkit-fill-available;
  margin-bottom: 0!important;
}

.bordered-div {
  padding: 2.2rem .5rem;
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom: 0;
}

.bordered-div-margin-bottom {
  margin-bottom: inherit
}

.no-margin-bottom {
  margin-bottom: 0rem!important 
}

.border-bottom {
  border-bottom: 1px solid #ddd
}

.no-text-decoration {
  text-decoration: none!important
}

.hand-cursor {
  cursor: pointer
}

.mb13 {
  margin-bottom: 13px!important
}

.mb8 {
  margin-bottom: 8px!important
}

.mb0 {
  margin-bottom: 1px!important
}

.el-type {
  font-weight: 700
}

.li-sub-top {
  color: black
}

.li-sub-mid {

}

.li-sub-bottom {

}

.teeny {
  font-size: 5px
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 2.5rem;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #4267b2;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.hidden {
  display: none;
}

div.digits {
   display: flex;
   justify-content: center;
   align-items: center;
}
 div.digits__container p {
   text-align: center;
}
 div.digits input {
   margin: 0;
   padding: 0.5rem 0;
   width: 4rem;
   font-size: 4rem;
   text-align: center;
   border: 1px solid #ccc;
   border-right: 0;
   outline: none;
   background: #fafafa;
}
 div.digits input:nth-child(1){
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}
 div.digits input:nth-child(4){
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}
 div.digits input:nth-child(4){
   border-right: 1px solid #ccc;
}
 div.digits input:focus {
   background: #fff;
}
 div.digits span {
   display: inline-block;
   margin: 0 0.5rem 0.75rem;
   font-size: 5rem;
}

.blue-text{
  color: #4267b2;
}

.dark-text{
  color: #333;
}

.strong{
  font-weight: 700;
}

.up{
  top: -21px;
  position: relative;
}

.log-button {
  position: absolute;
  right: 0;
  margin-right: 21px;
  top: 0;
  margin-top: 21px;
}

.button-red {
  background-color: #ab1a2d;
  color: white;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}
